<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
    <script>
        window.onload = function () {
            new Vue({
                el: "#app",
                data: {
                    message:'',
                    myText:''
                }
            })
        }
    </script>
</head>
<body>
<h2>Vue.js 강좌 양방향 바인딩 v-model 07</h2>
<div id="app">
    <input v-model="message" placeholder="메세지 입력">
    <p>입력된 메세지 : {{message}}</p>
    <textarea v-model="myText"></textarea>
    <p>입력한 문장자 : {{myText}}</p>
    <p>입력된 문자수는 : {{ myText.length }} 입니다.</p>
</div>
</body>
</html>